.liveSessionStart{
    display: flex;
    gap: 15px;
}

.chatsList{
    max-width: 300px;
    height: 50dvh;
    overflow-y: scroll;
}

@media (max-width: 600px) {
    .liveSessionStart{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    .chatsList{
        max-width: 300px;
        height: fit-content;
        overflow-y: scroll;
    }
}